
.p-list-todo
  background #fff
  .u-btn-handle
    margin-left 20px

.p-btn-submit
  height 80px
  line-height 80px
  margin-top 30px

.p-section-todo,
.p-section-done
  padding 30px 0

.p-btn-handle
  color rgb(97, 144, 232)
  border 1px solid rgb(97, 144, 232)
  box-sizing border-box
  border-radius 8px
  height 60px
  line-height 58px
  padding 0 16px
  font-size 28px
  margin-left 20px
  &+.p-btn-handle
    margin-top 20px