
.p-section-index
  .u-head
    width 100%
    height 400px
    overflow hidden
    background url('../../static/imgs/bg.jpg') no-repeat center
    background-size cover
.p-list-menu
  display flex
  flex-wrap wrap
  justify-content space-between
  padding 30px 30px 0 30px
  .u-menu-item
    display flex
    align-items center
    width 49%
    height 150px
    margin-bottom 20px
    border-radius 14px
    box-shadow 0 0 10px rgba(0,0,0,0.1)
  .u-menu-item-hover
    box-shadow 0 0 2px rgba(0,0,0,0.1)
  .u-menu-icon
    width 80px
    height 80px
    margin 0 30px 0 40px
  .u-menu-text
    color #353535
    font-size 28px

.p-section-user
  .u-head
    width 100%
    height 400px
    overflow hidden
    background #2eadb6
    display flex
    flex-direction column
    align-items center
    justify-content center
.p-avatar
  display inline-block
.p-person-name
  font-size 36px
  margin-top 40px
  color #000
.p-list-describe
  padding 30px
  .u-item
    width 100%
    display flex
    align-items center
    height 90px
    padding 0 20px
    margin-bottom 20px
    border-radius 6px
    box-shadow 0 0 6px rgba(0,0,0,0.1)
    box-sizing border-box
  .u-name
    padding 0 10px
  .u-value
    flex 1
    text-align right
